In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('news.csv')
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
df.shape

(6335, 4)

### Extracting the 'Label' column and setting values for X and y

In [4]:
labels=df.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [5]:
X=df['text']
X

0       Daniel Greenfield, a Shillman Journalism Fello...
1       Google Pinterest Digg Linkedin Reddit Stumbleu...
2       U.S. Secretary of State John F. Kerry said Mon...
3       — Kaydee King (@KaydeeKing) November 9, 2016 T...
4       It's primary day in New York and front-runners...
                              ...
6330    The State Department told the Republican Natio...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332     Anti-Trump Protesters Are Tools of the Oligar...
6333    ADDIS ABABA, Ethiopia —President Obama convene...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Name: text, Length: 6335, dtype: object

In [6]:
y=labels
y

0       FAKE
1       FAKE
2       REAL
3       FAKE
4       REAL
        ...
6330    REAL
6331    FAKE
6332    FAKE
6333    REAL
6334    REAL
Name: label, Length: 6335, dtype: object

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english',max_df=0.7)
tfidf_X=tfidf_vectorizer.fit_transform(X)
#tfidf_Y=tfidf_vectorizer.fit_transform(y)

### Splitting the data into training set and test set

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(tfidf_X,y,test_size=0.2,random_state=7)

In [13]:
X_train,X_test

(<5068x67351 sparse matrix of type '<class 'numpy.float64'>'
 	with 1337098 stored elements in Compressed Sparse Row format>,
 <1267x67351 sparse matrix of type '<class 'numpy.float64'>'
 	with 328164 stored elements in Compressed Sparse Row format>)

In [14]:
y_train,y_test

(6237    FAKE
 3722    FAKE
 5774    FAKE
 336     REAL
 3622    REAL
         ...
 5699    FAKE
 2550    REAL
 537     REAL
 1220    REAL
 4271    REAL
 Name: label, Length: 5068, dtype: object,
 3534    REAL
 6265    FAKE
 3123    REAL
 3940    REAL
 2856    REAL
         ...
 4986    REAL
 5789    REAL
 4338    REAL
 5924    FAKE
 6030    REAL
 Name: label, Length: 1267, dtype: object)

### Importing the TfidfVectorizer (Term-Frequency Inverse-Document-Frequency Vectorizer) feature

In [15]:
#from sklearn.feature_extraction.text import TfidfVectorizer
#tfidf_vectorizer=TfidfVectorizer(stop_words='english',max_df=0.7)
#tfidf_train=tfidf_vectorizer.fit_transform(X_train)
#tfidf_test=tfidf_vectorizer.fit_transform(X_test)
#Y_train=tfidf_vectorizer.fit_transform(y_train)
#Y_test=tfidf_vectorizer.fit_transform(y_test)

tfidf_train

tfidf_test

Me: They have different shapes. I suspect the issue to be from the fit_transform

### Importing the PassiveAggressiveClassifier

In [16]:
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(X_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix
y_pred=pac.predict(X_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.37%

In [19]:
confusion_matrix(y_test,y_pred,labels=['REAL','FAKE'])

array([[589,  40],
       [ 44, 594]], dtype=int64)